body{
    background-color: #8dcef8;
    font-family: Helvetica;
}

#kontener{
    text-align: center;
}

#kontener img#image{
    width: 25%;
    height: auto; 
    margin-top: 35px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: #79c0ee;
}